<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>
    <header th:replace="fragments/header"></header>
    <h1 th:text="${title}"></h1>
    <section class="container">

        <div class="registration-form">
            <form th:action="@{/homes/info}" th:object="${client}" method="post">
                <div class="form-icon d-flex justify-content-center align-items-center">
                    <span ><img class="img-form" th:src="@{/img/gohome.png}" alt="" width="110rem"></span>

                </div>
                <div class="form-group">
                    <input type="hidden" th:field="*{id}">
                    <label class="col-md2" for="name">Nombre</label>
                    <input th:field="*{name}" type="text" class="col-md6 form-control form-control-sm" id="name">

                </div>
                <div class="form-group">
                    <label class="col-md2" for="email">Email<sup class="required">*</sup></label>
                    <input th:field="*{email}" type="email" class="col-md6 form-control form-control-sm" id="email" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z]+$" required placeholder="ejemplo@ejemplo.com">
                </div>
                <div class="form-group">
                    <label class="col-md2" for="phone">Teléfono<sup class="required">*</sup></label>
                    <input th:field="*{phone}" type="text" class="col-md6 form-control form-control-sm" id="phone" pattern="\d{3}[\s-.]\d{2}[\s-.]\d{2}[\s-.]\d{2}" required placeholder="123 45 67 89">
                </div>
                <div class="form-group">
                    <label class="col-md2" for="phone">Mensaje<sup class="required">*</sup></label>

                    <div class="form-floating">
                        <textarea th:field="*{message}" class="form-control" id="floatingTextarea2" maxlength="400" required
                            style="height: 100px"></textarea>
                    </div>
                </div>
                <div class="pt-4 text-center">
                    <input type="submit" class=" btn btn-primary" value="Enviar"/>
                </div>

            </form>
        </div>
    </section>

    <footer th:replace="fragments/footer"></footer>
</body>

</html>